{
  "extends": ["eslint:recommended", "google"],
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "brace-style": "off",
    "no-tabs": "off",
    "max-len": ["error", 100]
  },
  "globals": {
    "Promise": false
}
}
