language: node_js
dist: trusty
sudo: required
env:
  - ETHWS=ws://www.swarmdev.city:8546 TESTSHH=0 TESTIPFS=0 APISOCKETPORT=8011 IPFSAPI=/ip4/127.0.0.1/tcp/5001 PARAMETERSCONTRACT=0x452a72e290fEEeb08fF80A08aCdac2267CC29c06 PARAMETERSCONTRACTSTARTBLOCK=4556969
node_js:
  - "node"
  - "8"
  - "7"
cache:
  directories:
    - node_modules
install:
  - npm install
before_script:
  - npm run lint
script:
  - npm run show-config
  - npm run test-unit
  - npm run test-func
after_success:
  - npm run coverage
